.post-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.post-col div img {
    object-fit: cover;
    width: 50%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .post-container {
        flex-direction: column;
    }

    .post-col {
        width: 90%;
        margin: auto;
        margin-top: 2em;
    }

    .post-col div img{
        width: 90%;
    }

}